@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold.otf);
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background: center / cover no-repeat url("../img/background-image-compressed.jpg");
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 180px;
}

.odin-banner-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

header img {
  max-width: 80px;
}

header p {
  text-align: center;
}

header a {
  color: white;
}

h1 {
  font-family: 'norse-bold', Verdana, Helvetica, sans-serif;
  font-size: 5rem;
}

main {
  background-color: #F2F2F2;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}

main > p,
.label-and-inputs {
  padding-left: 40px;
}

.label-and-inputs p {
  font-size: 1.3rem;
}

main > p:nth-child(-n+2) {
  font-size: 1.3rem;
  font-weight: bold;
}

main > p:nth-child(2) {
  margin-bottom: 60px;
}

main p:first-child {
  margin-bottom: 20px;
  max-width: 520px;
}

button {
  margin: 0 0 30px 40px;
}

.label-and-inputs {
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.sign-up-fields {
  display: flex;
}

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: column;
}

.left-inputs input {
  margin-right: 60px;
}

.sign-up-fields label {
  font-size: 0.8rem;
  text-transform: uppercase;
}

input {
  font-size: 1rem;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 4px;
  width: 250px;
}
