@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold.otf);
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background: center / cover no-repeat url("../img/background-image-compressed.jpg");
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 180px;
}

.odin-banner-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

header img {
  max-width: 80px;
}

header p {
  text-align: center;
}

header a {
  color: white;
}

h1 {
  font-family: 'norse-bold', Verdana, Helvetica, sans-serif;
  font-size: 5rem;
}

main {
  background-color: #F2F2F2;
  flex: 2;
}

.label-and-inputs {
  background-color: white;
}

.sign-up-fields {
  display: flex;
}

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: column;
}
